%h2.text-center
  Chat rooms:
.row.justify-content-center
  .col-6
    %table.table.table-bordered
      %thead
        %tr
          %th Title
          - if current_user.try(:admin?)
            %th Is hidden?
            %th Actions
      %tbody
      = render @rooms
.row.justify-content-center
  = paginate @rooms